@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --main-bg-color: #0b131e;
  --secondary-bg-color: #202b3b;
  --accent-color: #0696ff;
  --main-font-color: #dde0e4;
  --secondary-font-color: #9399a2;
  --main-border-radius: 1em;
  --error: #e94747;
  --border-color: #263345;
}

// css reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// General styles

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  font-family: "Rubik", sans-serif;

  display: grid;
  grid-template-columns: 5.6em 6fr 3fr;
  gap: 1em;
  padding: 1.5em;

  & > *:not(main) {
    background-color: var(--secondary-bg-color);
  }

  :is(&, main) > * {
    border-radius: var(--main-border-radius);
  }
}

// primary nav styles

// main section styles

main {
  display: grid;
  grid-template-rows: 2.82em 1.2fr 1fr 1fr;
  gap: 1em;

  form {
    display: flex;
    padding: 0.625em;
    gap: 0.625em;
    align-items: center;
    position: relative;

    .error {
      display: none;
      position: absolute;
      color: var(--error);
      bottom: -1.5em;

      &[data-state="displayed"] {
        display: block;
      }
    }

    input {
      flex: 1;
      color: var(--secondary-font-color);

      &:focus {
        border-radius: 0;
        border-bottom: 1px solid var(--secondary-font-color);
      }
    }

    .search-icon {
      fill: var(--secondary-font-color);
      cursor: pointer;
    }
  }

  form,
  section:not(.current-weather) {
    background-color: var(--secondary-bg-color);
  }
}

section.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  gap: 1em;

  .current-weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .city {
      font-weight: 600;
      font-size: 2.5rem;
    }

    .temp {
      font-weight: 600;
      font-size: 3.75rem;
    }
  }
}

section:is(.todays-forecast, .air-conditions),
aside.weekly-forecast {
  padding: 1em 2em;
  font-size: 1.1rem;
  font-weight: 600;

  & .section-title {
    text-transform: uppercase;
  }
}
// weekly forecast styles

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .daily-forecast-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 2em;
  }

  .daily-forecast-card:last-child {
    border-bottom: none;
  }
}

// Utility Classes

.text-bright {
  color: var(--main-font-color);
}

.text-dim {
  color: var(--secondary-font-color);
}

.weather-icon {
  align-self: center;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-big {
  min-height: 15em;
}

.icon-small {
  min-height: 3.5em;
}
